<!DOCTYPE html>
{%extends "base.html"%}
{%block title%}Search page{%endblock%}

{%block content%}
<p>Welcome {{user}}</p>
{% with messages = get_flashed_messages()%}
    {%if messages %}
        {%for msg in messages%}
            <p>{{msg}}</p>
        {%endfor%}
    {%endif%}
{%endwith%}



<form action="#" method="post">

    <p style="text-align: center">

        <input  style="width: 600px" type="text" name="dom" placeholder="Domain"/> <a style="">.</a>

    <input type="text" placeholder="Top-level" name="top_level"/>
    </p>

    <p><input type="submit" name="search_button" value="search domain"/><img src="{{url_for('static', filename='images/world_logo.png')}}" width="100" height="100"></p>
    <input type="submit" name="search_button" value="signout"/>
<!--    for testing delete and update -->
<!--    <input type="submit" name="search_button" value="update email"/>-->
<!--    <input type="submit" name="search_button" value="delete email"/>-->
</form>
<p>
    <!--<div class="nav-item active">-->

    <!--    <a class="nav-link" href="login">Signout <span class="sr-only">(current)</span></a>-->
    <!--</div>-->
</p>
{%endblock%}