<!DOCTYPE html>
{%extends "base.html"%}
{%block title%}Search page{%endblock%}

{%block content%}
{% with messages = get_flashed_messages()%}
    {%if messages %}
        {%for msg in messages%}
            <p>{{msg}}</p>
        {%endfor%}
    {%endif%}
{%endwith%}



<p>Welcome {{user}}</p>

<form action="#" method="post">

    <p style="text-align: center">

        <input  style="width: 600px" type="text" name="dom" placeholder="Domain"/> <a style="">.</a>

    <input type="text" placeholder="Top-level" name="top_level"/>
    </p>

    <p><input type="submit" name="search_button" value="search domain"/></p>
    <input type="submit" name="search_button" value="signout"/>
    <p><p><p><input type="submit" name="search_button" value="delete account"/></p></p></p>
    <p><p><p><input type="submit" name="search_button" value="change password"/></p></p></p>
</form>
<p>

</p>
{%endblock%}