<!DOCTYPE html>
{%extends "base.html"%}
{%block title%}Signup page{%endblock%}

{%block content%}

{% with messages = get_flashed_messages()%}
    {%if messages %}
        {%for msg in messages%}
            <p>{{msg}}</p>
        {%endfor%}
    {%endif%}
{%endwith%}


<form action="#" method="post">
    <p align="center">username:</p>
    <p align="center"><input type="text" name="nm" placeholder="your name"/></p>

    <p align="center">E-mail:</p>
    <p align="center"><input type="email" name="mail" placeholder="example@domain.com"/></p>

    <p align="center">pasword:</p>
    <p align="center"><input type="password" name="pass" placeholder="anything"/></p>

    <p align="center">confirm pasword:</p>
    <p align="center"><input type="password" name="confirm"/></p>
    <p align="center"><input type="submit" value="confirm password"/></p>
</form>
<div class="nav-item active">
    <a class="nav-link" href="login">Already have an account <span class="sr-only">(current)</span></a>
</div>
{%endblock%}
